.image {
  font-size: 2px;
  margin-top: 18px;
  padding: 10px;
}
.icon-web {
  font-size: 18px;
  color: aqua;
  margin-top: 30px;
}

.icon-db {
  font-size: 18px;
  color: red;
  margin-top: 30px;
}

.icon-report {
  font-size: 18px;
  color: lime;
  margin-top: 30px;
}

.icon-int {
  font-size: 18px;
  color: orange;
  margin-top: 30px;
}

.icon-pad {
  padding: 2px;
}
.icon-text {
  text-decoration: none;
}
